*{
	box-sizing: 0;
	margin: 0;
	padding: 0;
}

.edit{
	margin-left: 50px;
	margin-top: 50px;
	background-image: url('../../assets/pexels-soumil-kumar-735911.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: arial, sans-serif;
	min-height: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#info img{
	width: 169px;
	height: 154px;
	border-radius: 150%;
}

.main{
	background-color: #000000;
	opacity: 65%;
	margin-left: auto;
	margin-right: auto;
	width: 652px;
	height: 800px;
	text-align: center;
}

#profile{
	padding-bottom: 70px;
}

#uploadProfile{
	display: none;
}

#profile button{
	height: 34px;
	width: 182px;
	background-color: #2D356D;
	border-radius: 30px;
	margin-top: 25px;
}

.main h1{
	padding-top: 50px;
	color: white;
}


.formGroup{
	margin-top: 20px;
	position: relative;
}


.btn{
	width: 279px;
 	height: 48px;
 	background-color: #0F1D6A;
 	border-radius: 30px;
}

.controlForm{
	width: 318px;
	height: 48px;
	background-color: #374187;
	border-radius: 30px;
	font-size: 1.3em;
	font-weight: 500;
    text-indent: 10px;
    border: grey 1px solid;
}
